<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="{{ resource.jquery_mobile_css }}">
    <script type="text/javascript" src="{{ resource.jquery_js }}"></script>
    <script type="text/javascript" src="{{ resource.jquery_mobile_js }}"></script>
</head>
<body>
<div data-role="page" id="page1">
    <div data-theme="a" data-role="header">
        <h3>
            Админ панель
        </h3>
    </div>
    <div data-role="content">
        <div data-role="navbar" data-iconpos="top">
            <ul>
                <li>
                    <a href="#page1" data-theme="" data-icon="star" class="ui-btn-active">
                        Статистика
                    </a>
                </li>
                <li>
                    <a href="#page2" data-theme="" data-icon="info">
                        Репортёр
                    </a>
                </li>
                <li>
                    <a href="/" data-theme="" data-icon="home">
                        К сайту
                    </a>
                </li>
            </ul>
        </div>
        <div data-role="collapsible-set" data-theme="" data-content-theme="">
            <div data-role="collapsible" data-collapsed="false">
                <h3>
                    Посещаемость
                </h3>
                <div>
                    <b>
                        Enter content here...
                    </b>
                </div>
            </div>
            <div data-role="collapsible" data-collapsed="false">
                <h3>
                    Популярность
                </h3>
                <div>
                    <b>
                        Enter content here...
                    </b>
                </div>
            </div>
        </div>
    </div>
    <div data-theme="c" data-role="footer">
        <h3>
            Powered by TurboBatman CMF
        </h3>
    </div>
</div>
<div data-role="page" id="page2">
    <div data-theme="a" data-role="header">
        <h3>
            Админ панель
        </h3>
    </div>
    <div data-role="content">
        <div data-role="navbar" data-iconpos="top">
            <ul>
                <li>
                    <a href="#page1" data-theme="" data-icon="star">
                        Статистика
                    </a>
                </li>
                <li>
                    <a href="#page2" data-theme="" data-icon="info" class="ui-btn-active">
                        Репортёр
                    </a>
                </li>
                <li>
                    <a href="/" data-theme="" data-icon="home">
                        К сайту
                    </a>
                </li>
            </ul>
        </div>
        <a data-role="button" data-transition="fade" href="#page4" data-icon="plus" data-iconpos="left">
            Добавить новость
        </a>
        <ul data-role="listview" data-divider-theme="b" data-inset="true">
            <li data-role="list-divider" role="heading">
                Последние 10 новостей
            </li>
            <li data-theme="c">
                <a href="#page5" data-transition="slide">
                    Тестовая новость 1
                </a>
            </li>
            <li data-theme="c">
                <a href="#page5" data-transition="slide">
                    Тестовая новость 2
                </a>
            </li>
        </ul>
    </div>
    <div data-theme="c" data-role="footer">
        <h3>
            Powered by TurboBatman CMF
        </h3>
    </div>
</div>
<div data-role="page" id="page4">
    <div data-theme="a" data-role="header">
        <h3>
            Админ панель
        </h3>
    </div>
    <div data-role="content">
        <div data-role="navbar" data-iconpos="top">
            <ul>
                <li>
                    <a href="#page1" data-theme="" data-icon="star">
                        Статистика
                    </a>
                </li>
                <li>
                    <a href="#page2" data-theme="" data-icon="info" class="ui-btn-active">
                        Репортёр
                    </a>
                </li>
                <li>
                    <a href="/" data-theme="" data-icon="home">
                        К сайту
                    </a>
                </li>
            </ul>
        </div>
        <form action="/admin/addnews" method="POST">
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="textinput1">
                        Заголовок новости
                    </label>
                    <input id="textinput1" placeholder="" value="" type="text" />
                </fieldset>
            </div>
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="textarea1">
                        Содержимое новости
                    </label>
                    <textarea id="textarea1" placeholder=""></textarea>
                </fieldset>
            </div>
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="textinput6">
                        Ключевые слова
                    </label>
                    <input id="textinput6" placeholder="" value="" type="text" />
                </fieldset>
            </div>
            <input type="submit" value="Добавить новость" />
        </form>
    </div>
    <div data-theme="c" data-role="footer">
        <h3>
            Powered by TurboBatman CMF
        </h3>
    </div>
</div>
<div data-role="page" id="page5">
    <div data-theme="a" data-role="header">
        <h3>
            Админ панель
        </h3>
    </div>
    <div data-role="content">
        <div data-role="navbar" data-iconpos="top">
            <ul>
                <li>
                    <a href="#page1" data-theme="" data-icon="star">
                        Статистика
                    </a>
                </li>
                <li>
                    <a href="#page2" data-theme="" data-icon="info" class="ui-btn-active">
                        Репортёр
                    </a>
                </li>
                <li>
                    <a href="/" data-theme="" data-icon="home">
                        К сайту
                    </a>
                </li>
            </ul>
        </div>
        <form action="/admin/addnews" method="POST">
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="textinput3">
                        Заголовок новости
                    </label>
                    <input id="textinput3" placeholder="" value="test" type="text" />
                </fieldset>
            </div>
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="textinput4">
                        Время публикации
                    </label>
                    <input id="textinput4" placeholder="" value="12.03.1992 20:47" type="datetime" />
                </fieldset>
            </div>
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="textarea2">Содержимое новости</label>
                    <textarea id="textarea2" placeholder="">щдщдщ</textarea>
                </fieldset>
            </div>
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="textinput5">
                        Ключевые слова
                    </label>
                    <input id="textinput5" placeholder="" value="1, 2" type="text" />
                </fieldset>
            </div>
            <input type="submit" value="Изменить новость" />
        </form>
    </div>
    <div data-theme="c" data-role="footer">
        <h3>
            Powered by TurboBatman CMF
        </h3>
    </div>
</div>
<script>
    //App custom javascript
</script>
</body>
</html>