{% extends 'admin/skeleton.admin.html.twig' %}
{% block title %}Админ-Панель Авторизация{% endblock %}
{% block page %}
<div data-role="page">

    <div data-theme="a" data-role="header">
        <h1>Админ панель</h1>
    </div><!-- /header -->

    <div data-role="content">
        <div data-role="navbar" data-iconpos="top">
            <ul>
                <li>
                    <a href="/admin/" data-icon="star" data-ajax="false"
                            {% if not admin_page %} class="ui-btn-active"{% endif %}>
                        Инфо
                    </a>
                </li>
                <li>
                    <a href="/admin/manager/" data-icon="gear" data-ajax="false"
                            {% if admin_page == 'manager' %} class="ui-btn-active"{% endif %}>
                        Менеджер
                    </a>
                </li>
                <li>
                    <a href="/admin/logout/" data-icon="delete" data-ajax="false">
                        Выход
                    </a>
                </li>
            </ul>
        </div>
        {% if admin_page == 'manager' %}
        <div id="managerldr">
            test
        </div>
        {% endif %}
    </div>
    <!-- /content -->

    <div data-theme="c" data-role="footer">
        <h3>
            Powered by TurboBatman CMF
        </h3>
    </div>

</div><!-- /page -->{% endblock %}