{% extends 'admin/skeleton.admin.html.twig' %}
{% block title %}Админ-Панель{% endblock %}
{% block page %}
<div data-role="page">

    <div data-theme="a" data-role="header" data-position="inline">
        <a href="#" data-icon="back" data-rel="back">Назад</a>
        <h1>Админ панель</h1>
        <a href="/" data-icon="forward" rel="external">Перейти к сайту</a>
    </div><!-- /header -->

    <div data-role="content">
        <div data-role="navbar" data-iconpos="top">
            <ul>
                <li>
                    <a href="/admin/" data-icon="star" data-ajax="false"
                            {% if not admin_page %} class="ui-btn-active"{% endif %}>
                        Инфо
                    </a>
                </li>
                <li>
                    <a href="/admin/manager/" data-icon="gear" data-ajax="false"
                            {% if admin_page == 'manager' %} class="ui-btn-active"{% endif %}>
                        Управление
                    </a>
                </li>
                <li>
                    <a href="/admin/logout/" data-icon="delete" data-ajax="false">
                        Выход
                    </a>
                </li>
            </ul>
        </div>
        {% if not admin_page %}
        {% include 'admin/info.html.twig' %}
        {% else %}
        {% if admin_page == 'manager' %}{% include 'admin/manager.html.twig' %}{% endif %}
        {% endif %}
    </div>
    <!-- /content -->

    <div data-theme="c" data-role="footer">
        <h3>
            Powered by TurboBatman CMF
        </h3>
    </div>

</div><!-- /page -->{% endblock %}