{% extends mobile ? 'skeleton.mobile.html.twig' : 'skeleton.html.twig' %}
{% block body %}
<h2>{{ exception.message }}</h2>
{% if exception.file %}<p>{{ exception.file }} on line {{ exception.line }}</p>{% endif %}
<pre><code>{{ exception.trace }}</code></pre>{% endblock %}