{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Turbo Batman CMF{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    {% block header %}{% endblock %}
    {% block body %}{% endblock %}
</body>
</html>
{% endspaceless %}