{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Tranquility :: Mobile{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ resource.jquery_mobile_css }}">
    <script type="text/javascript" src="{{ resource.jquery_js }}"></script>
    <script type="text/javascript" src="{{ resource.jquery_mobile_js }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
<div data-role="page">

    <div data-role="header">
        {% block header %}<h1>Tranquility :: Mobile</h1>{% endblock %}
    </div><!-- /header -->

    <div data-role="content">
        <p>{% block body %}{% endblock %}</p>
    </div><!-- /content -->

</div><!-- /page -->
</body>
</html>
{% endspaceless %}