{% if vk_app_id %}
<div class="pull-right">
    <button id="vk-button" class="btn btn-primary disabled" onclick="goVKLogin();">
        <span class="icon-spinner icon-spin"></span> подключение к социальной сети...
    </button>
</div>
<div id="vk_api_transport" style="display: inline"></div>
<script type="text/javascript">
    initCallback = function()
    {
        window.vkAsyncInit = function() {
            VK.init({
                apiId: {{ vk_app_id }}
            });
            VK.Auth.getLoginStatus(authInfo);
        };

        setTimeout(function() {
            var el = document.createElement("script");
            el.type = "text/javascript";
            el.src = "http://vk.com/js/api/openapi.js";
            el.async = true;
            document.getElementById("vk_api_transport").appendChild(el);
        }, 0);
    };

    function goVKLogin() {
        VK.Auth.login(authInfo);
    }

    function dispatchSocialSession(data, displayNick)
    {
        $("#top-menu").html(
                '<ul class="nav navbar-nav pull-right">' +
                        '<li><span class="icon-spinner icon-spin"></span>&nbsp;Авторизация...</li></ul>'
        );
        $.ajax({
            type: "POST",
            url: "/ajax_social_session_dispatcher",
            data: data,
            success: function(response) {
                authRightNow(response, data, displayNick);
            },
            async: true
        });
    }

    function authRightNow(response, data, displayNick)
    {
        if (response !== 'ok') {
            alert(response);
        } else {
            $('#captcha-display').fadeOut();
            var photo = data.profile.photo_100;
            $("#top-menu").html(
                    '<ul class="nav navbar-nav pull-right"><li class="dropdown" id="menu1">' +
                            '<a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">' +
                            '<img src="' + photo + '" alt="" width="22" height="22"/>&nbsp;&nbsp;' +
                            displayNick + '<b class="caret"></b></a><ul class="dropdown-menu">' +
                            '<li><a href="http://vk.com/' + data.profile.screen_name + '">Мой профиль</a></li><li class="divider"></li>' +
                            '<li><a href="/logout?csrf_token={{ csrf_token }}&amp;rpath={{ uri }}">Выход</a>' +
                            '</li></ul></li></ul>');
        }
    }

    function authInfo(response)
    {
        if (response.session) {
            $('#vk-button').fadeOut();
            vk_session = response.session;
            VK.Api.call('users.get', {
                uids: vk_session.mid,
                fields: 'nickname, screen_name, sex, photo_100'
            }, function(r) {
                if(r.response) {
                    $('#vk-button').fadeOut();
                    var vk_profile = r.response[0];
                    var displayNick = vk_profile.first_name + ' ' + vk_profile.last_name;
                    $('#current-user-comment-photo').attr('src', vk_profile.photo_100);
                    $('#current-user-comment-nick').html(displayNick);
                    $('#current-user-description').html(
                            '<a target="_blank" href="http://vk.com/' + vk_profile.screen_name + '">' +
                                '<span class="icon-vk"></span> ' + vk_profile.screen_name +
                            '</a>'
                    );

                    dispatchSocialSession({provider: 'vk', session: vk_session, profile: vk_profile}, displayNick);
                }
            });
        } else {
            $('#vk-button')
                    .html('<span class="icon-vk"></span> | Рекомендуем вам использовать ваш профиль ВКонтакте')
                    .removeClass('disabled');
        }
    }
</script>
{% endif %}