{% spaceless %}
    <div class="modify"><a href="#modalView" data-toggle="modal" class="view-link"><span class="glyphicon glyphicon-eye-open"></span> Просмотреть</a> | {% if container.create_new_message %}<a href="#modalEdit" data-toggle="modal" class="change-link"><span class="glyphicon glyphicon-edit"></span> Изменить</a> | {% endif %}<a href="#delete" class="delete-link"><span class="glyphicon glyphicon-remove"></span> Удалить</a></div>
{% endspaceless %}