{% spaceless %}
    <div class="modify"><a href="#modalView" data-toggle="modal" class="view-link">Просмотреть</a> | {% if container.create_new_message %}<a href="#modalEdit" data-toggle="modal" class="change-link">Изменить</a> | {% endif %}<a href="#delete" class="delete-link">Удалить</a></div>
{% endspaceless %}