<ul class="nav nav-tabs tabbed">
    <li class="active">
        <a href="#set-dynamical" onclick="tabClick(this)">
            <span class="icon-cog"></span> Основные
        </a>
    </li>
    <li>
        <a href="#set-mailer" onclick="tabClick(this)">
            <span class="icon-mail-forward"></span> Рассылка
        </a>
    </li>
    <li>
        <a href="#set-navigation" onclick="tabClick(this)">
            <span class="icon-sitemap"></span> Навигация
        </a>
    </li>
    <li>
        <a href="#set-admin" onclick="tabClick(this)">
            <span class="icon-dashboard"></span> Админ-панель
        </a>
    </li>
    <li>
        <a href="#set-base" onclick="tabClick(this)" style="color: darkred">
            <span class="icon-exclamation-sign"></span> Системные
        </a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="set-dynamical">
        <br>
        {% include "admin/partitions/configuration.dynamical.form.html.twig" %}
    </div>
    <div class="tab-pane" id="set-mailer">
        <br>
        {% include "admin/partitions/configuration.mailer.form.html.twig" %}
    </div>
    <div class="tab-pane" id="set-navigation">
        <br>
        {% include "admin/partitions/configuration.navigation.form.html.twig" %}
    </div>
    <div class="tab-pane" id="set-admin">
        <br>
        {% include "admin/partitions/configuration.admin.form.html.twig" %}
    </div>
    <div class="tab-pane" id="set-base">
        <br>
        {% include "admin/partitions/configuration.base.form.html.twig" %}
    </div>
</div>

<script type="text/javascript">
    function tabClick(element) {
        $(element).tab('show');
    }
</script>